{% extends 'layout.html' %}

{% block body_actions_bar %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'applications' %}">Applications</a></li>
        <li><a href="{% url 'profile' pk=user.profile.pk %}">Profile</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block body_content %}
  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a href="{% url 'applications_status' %}" class="{% if q = '' %} selected {% endif %}">All Applications</a></li>
          <li><a href="{% url 'applications_status' %}?q=Pending" class="{% if q == 'Pending' %} selected {% endif %}">New Applications</a></li>
          <li><a href="{% url 'applications_status' %}?q=Accepted" class="{% if q == 'Accepted' %} selected {% endif %}">Accepted</a></li>
          <li><a href="{% url 'applications_status' %}?q=Rejected" class="{% if q == 'Rejected' %} selected {% endif %}">Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          <li><a href="{% url 'applications_project' %}" class="{% if q = '' %} selected {% endif %}">All Projects</a></li>
          {% for project in my_projects %}
            <li><a class="{% if q == project.title %} selected {% endif %}" href="{% url 'applications_project' %}?q={{ project.title }}">{{ project.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
          <li><a href="{% url 'applications_proj_need' %}" class="{% if q = '' %} selected {% endif %}">All Needs</a></li>
          {% for position in my_proj_needs %}
            <li><a class="{% if q == position.name %} selected {% endif %}" href="{% url 'applications_proj_need' %}?q={{ position.name }}">{{ position.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right" width="30%">Applicant Position</th>
            <th class="circle--cell--right">Status</th>
            <th class="circle--cell--right">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for applicant in filtered_applicants %}
              <tr class="clickable-row">
                <td>
                  <a href="{% url 'profile' pk=applicant.profile.pk %}"><h3>{{ applicant.profile.name }}</h3></a>
                  <a href="{% url 'project' pk=applicant.project.pk %}"><p>{{ applicant.project.title }}</p></a>
                </td>
                <td class="circle--cell--right">
                  <span class="secondary-label">{{ applicant.position.name }}</span>
                </td>
                <td class="circle--cell--right">
                  {{ applicant.status }}
                </td>
                <td class="circle--cell--right">
                    <form action="{% url 'applicant_edit' pk=applicant.pk %}?redirect={{redirect}}&q={{q}}" class="margin-0" method="POST">
                      {% csrf_token %}
                      <span class="display-inline">{{ form_status.status }}</span>
                      <button type="submit">Save</button>
                    </form>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}