{% extends 'layout.html' %}
{% load tz %}

{% block body_actions_bar %}
  {% if user.is_authenticated and user.pk == profile.user.pk %}
    <div class="circle--actions--bar">
      <nav class="bounds">
        <ul class="circle--pill--list">
            {% if user.is_employer and user.pk == profile.user.pk %}
              <li><a href="{% url 'applications' %}">Applications</a></li>
            {% endif %}
            <li><a class="selected" href="{% url 'profile' pk=profile.pk %}">Profile</a></li>
        </ul>
      </nav>
    </div>
  {% endif %}
{% endblock %}

{% block body_content %}
  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        {% if user.pk == profile.user.pk %}
          <a class="button icon-on-left" href="{% url 'profile_edit' pk=profile.pk %}">Edit</a>
        {% endif %}
      </div>
    </div>

    <div class="grid-70">
      <h1>{{ profile.name }}</h1>
      <div class="circle--article--body">
        {{ profile.short_bio | linebreaks }}
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
            <tr class="clickable-row" data-href="{% url 'project' pk=project.pk %}">
              <td>
                <h3>{{ project.title }}</h3>
              </td>
              <td class="circle--cell--right">
                <span class="secondary-label">{{ project.positions.all|join:", " }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        {% if profile.profile_image %}
          <img class="circle--primary--avatar " src="/media/{{ profile.profile_image }}"/>
        {% else %}
          <div class="circle--primary--avatar"></div>
        {% endif %}
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="unloaded">
          {% for skill in profile.skills.all %}
            {{ skill.name }}
          {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--link--list">
          {% for project in profile.user_projects.all %}
            <li>{{ project.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
{% endblock %}