{% extends 'layout.html' %}

{% block body_actions_bar %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <button class="button button-primary" form="form--project--create" type="submit">Save Project</button>
        <a class="button button-text" href="{% url 'home' %}">Discard</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_content %}
  <div class="bounds circle--page circle--article">
    <form id="form--project--create" method="POST">
      {% csrf_token %}
      <div class="grid-70">
        <div class="circle--article--body">
          {{ form_project.title }}
          {{ form_project.title.errors }}
          {{ form_project.description }}
          {{ form_project.description.errors }}
        </div>

        <div class="circle--project--positions">
          <h2>Positions</h2>

          <ul class="circle--group--list circle--clone--list">
            {{ form_positions.management_form }}
            {% for form_position in form_positions %}
              <li>
                {{ form_position.name }}
                {% for error in form_position.name.errors %}
                  <div>{{ error }}</div>
                {% endfor %}
                {{ form_position.description }}
                {% for error in form_position.description.errors %}
                  <div>{{ error }}</div>
                {% endfor %}
                <a class="circle--clone--add">Add Position</a>
                <a class="circle--clone--remove">Remove</a>
              </li>
            {% endfor %}
          </ul>
          <button type="submit" class="button button-primary">Save Project</button>
        </div>
      </div>
      <div class="grid-25 grid-push-5">
        <div class="circle--secondary--module">
          <h3>Project Timeline</h3>
          {{ form_project.timeline }}
          {{ form_project.timeline.errors }}
        </div>

        <div class="circle--secondary--module">
          <h3>Applicant Requirements</h3>
          {{ form_project.applicant_requirements }}
          {{ form_project.applicant_requirements.errors }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}